.SignupBtn {
	padding: 10px 20px;
	background-color: #ff8300;
	outline: none;
	cursor: pointer;
	border: none;
	color: #fff;
	border-radius: 5px;
}

.CloseBtn {
	outline: none;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.JoinBtn {
	padding: 20px;
	color: #ff8300;
	border-radius: 5px;
	font-size: 20px;
	outline: none;
	cursor: pointer;
	border: none;
}

@media screen and (max-width: 600px) {
	.SignupBtn {
		width: 100%;
	}

	.JoinBtn {
		padding: 15px;
		font-size: 15px;
	}
}
