.SubmitModalBtn {
	padding: 15px 25px;
	background-color: #ff8300;
	outline: none;
	cursor: pointer;
	border: none;
	color: #fff;
	border-radius: 5px;
	font-size: 16px;
}

.SubmitModalBtn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.CloseBtn {
	outline: none;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.JoinBtn {
	padding: 20px;
	color: #ff8300;
	border-radius: 5px;
	font-size: 20px;
	outline: none;
	cursor: pointer;
	border: none;
}

.AuthBtn {
	padding: 15px 25px;
	border: none;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	border-radius: 8px;
	outline: none;
	background-color: transparent;
	color: #fff;
}

.ResetBtn {
	padding: 15px 35px;
	background-color: #ff8300;
	outline: none;
	cursor: pointer;
	border: none;
	color: #fff;
	border-radius: 5px;
	font-size: 16px;
}

.ResetBtn :disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.LogOutBtn {
	width: 100%;
	height: 100%;
	padding: inherit;
	border: none;
	cursor: pointer;
	text-align: center;
	outline: none;
	font-size: 16px;
	background-color: transparent;
}

.LogOutBtn:hover {
	background-color: #ff8300;
	color: #fff;
	cursor: pointer;
}

.FollowBtn {
	padding: 5px 15px;
	border: none;
	cursor: pointer;
	font-size: 15px;
	text-align: center;
	border-radius: 25px;
	outline: none;
	border: 1px solid rgba(253, 130, 52, 1);
	color: rgba(253, 130, 52, 1);
	background-color: transparent;
}

@media screen and (max-width: 600px) {
	.AuthBtn {
		color: #fff;
		width: 100%;
		border: 1px solid #fff;
		border-radius: 0;
	}

	.SubmitModalBtn {
		width: 100%;
		padding: 20px;
		font-size: 15px;
	}

	.JoinBtn {
		padding: 15px;
		font-size: 15px;
	}
}
