.Container {
	width: 100%;
	display: flex;
	padding-left: 150px;
	padding-right: 150px;
}

.ArticleContent {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

@media screen and (max-width: 600px) {
	.Container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (max-width: 960px) {
	.Container {
		padding-left: 20px;
		padding-right: 20px;
	}
}
