.Container {
	background-color: #e8e8e8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 0 50px;
}

.Content {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 0 50px;
}

.Title {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 14px;
}

.SubTitle {
	font-size: 12px;
	margin-bottom: 24px;
	color: #fd8234;
}

.InputField {
	width: 100%;
	background-color: rgba(251, 250, 250, 1);
	border: none;
	outline: none;
	height: 40px;
	font-size: 17px;
	align-items: center;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.38) inset;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.38) inset;
	-moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.38) inset;
	font-style: normal;
	font-size: 17px;
	font-weight: 200;
	text-align: center;
}

.LinkContent {
	color: #fd8234;
	font-size: 14px;
	text-decoration: none;
	margin-top: 20px;
}

.NotificationPanel {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

.SendEmailNotify p {
	font-size: 15px;
}

.ErrorPanel {
	width: 100%;
	margin-bottom: 30px;
}

.ErrorPanel p {
	color: red;
	font-size: 10px;
}

@media screen and (max-width: 600px) {
	.Container {
		padding: 0;
	}
	.Content {
		width: 100%;
		padding: 0 20px;
	}
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 992px) {
}
