.Navbar {
	width: 100%;
	padding: 8px 150px;
	position: fixed;
	background-color: #fff;
	justify-content: space-between;
	display: flex;
	align-items: center;
	top: 0;
	z-index: 999;
	-webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.Logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Logo p {
	font-size: 25px;
	font-weight: 600;
	color: #fd8234;
}

.Logo span {
	font-weight: 400;
}

.AuthLink {
	display: flex;
	justify-content: space-around;
	width: 15%;
}

.AuthBtn {
	padding: 15px 25px;
	border: none;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	border-radius: 8px;
	outline: none;
	color: #fff;
}

.ActiveLink {
	background-color: #fd8234;
	color: #fff;
}

ul li a {
	text-decoration: none;
	color: black;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.DropDown {
	position: relative;
}

.DropDown ul {
	margin-top: 3px;
	position: absolute;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	width: 200px;
	height: 200px;
	border: 1px solid #e8e8e8;
	background-color: #fff;
	left: -100px;
	list-style: none;
	border-radius: 5px;
	opacity: 0;
	transform: translateY(5px);
	transition: all 0.4s ease;
}

.DropDown li {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
}

.DropDown button:focus + ul {
	opacity: 1;
	pointer-events: all;
	transform: translateY(0px);
}

.Burger {
	display: none;
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.TheImage {
	border-radius: 50%;
	width: 35px;
	height: 35px;
}

@media screen and (max-width: 600px) {
	.AuthLink {
		color: #fff;
	}
}

@media screen and (max-width: 960px) {
	.Burger {
		display: block;
		cursor: pointer;
	}

	.AuthLink {
		position: absolute;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: rgba(253, 130, 52, 1);
		width: 100%;
		top: 100%;
		transform: translateY(-170%);
		transition: 0.3s ease-in;
		border: 0.5px solid rgba(253, 130, 52, 1);
		color: #fff;
	}

	.Active {
		transform: translateY(0%);
	}

	.AuthBtn {
		color: #fff;
		width: 100%;
		font-size: small;
		border: 1px solid #fff;
		border-radius: 5px;
	}

	.AuthBtn:hover {
		color: rgba(253, 130, 52, 1);
		background-color: #fff;
		transition: 0.5s all ease-out;
	}
}
