.Success {
	width: 40%;
	padding: 30px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #daf2dd;
	background-color: #38b000;
	word-wrap: normal;
	color: #daf2dd;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* 
.forgotPasswordSuccess {
	width: 200px;
	padding: 30px 50px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #daf2dd;
	background-color: #38b000;
	word-wrap: normal;
	color: #daf2dd;
	font-size: 13px;
} */

.Error {
	padding: 20px 50px;
	width: 40%;
	background-color: teal;
	color: #fff;
	border: 1px solid teal;
	border-radius: 5px;
}

.Content {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* justify-content: center; */
}

.IconMsg {
	font-size: 14px;
	display: flex;
	justify-content: center;
	line-height: 1.4;
}

.IconMsg p {
	font-size: 18px;
}

@media screen and (max-width: 600px) {
	.Content {
		width: 100%;
	}

	.Success {
		width: 80%;
		padding: 10px;
	}

	.IconMsg {
		margin-left: 10px;
	}

	.IconMsg p {
		font-size: 12px;
	}
}

@media screen and (max-width: 960px) {
	.Content {
		width: 100%;
	}

	.Success {
		padding: 10px;
	}

	.IconMsg p {
		font-size: 12px;
	}
}
